.achieve {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-light);
  background-image: url("../img/achieve-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom -350px;
  &__item {
    padding-top: 70px;
    grid-column: 3 span;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    &--reccom {
      background-image: url("../img/about-like.svg");
    }
    &--renov {
      background-image: url("../img/about-renov.svg");
    }
    &--spec {
      background-image: url("../img/about-spec.svg");
    }
    &--finish {
      background-image: url("../img/about-finish.svg");
    }
  }
  &__value {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-primary);
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-ebony);
  }
  &__list {
    margin-bottom: 260px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__info {
    position: relative;
    top: -130px;
    left: -30px;
    padding: 80px 82px;
    padding-right: 40px;
    padding-bottom: 60px;
    flex-shrink: 0;
    z-index: 10;
    width: 735px;
    background-color: var(--color-light);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
  }
}

.quote {
  margin: 0;
  &__content {
    position: relative;
    padding: 9px 53px;
    margin-bottom: 32px;
    &::before {
      content: "";
      width: 28px;
      height: 20px;
      position: absolute;
      top: 8px;
      left: -5px;
      background-image: url("../img/braces.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  p {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__footer {
    padding: 20px 53px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
    background-image: url("../img/signature.svg");
    background-repeat: no-repeat;
    background-size: 100px 68px;
    background-position: right 65px center;
  }

  &__author {
    display: block;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebony);
    font-style: normal;
  }
}
