.breadcrumbs {
  @include flex-v-center;
  &__item {
    &:not(:last-child) {
      position: relative;
      margin-right: 22px;
      &::after {
        content: "/";
        position: absolute;
        top: 1px;
        right: -14px;
        color: #9a9ca5;
      }
    }
  }
  &__link {
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
    &:not([href]) {
      color: #9a9ca5;
    }
  }
}
