.services-section {
  padding-top: 212px;
  background-color: #f4f5f7;
  background-image: url("../img/bg-services.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
