<section class="clients">
  <div class="container">
    <h2 class="clients__title title title--center">Our clients</h2>
    <ul class="clients__list list-reset">
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo"
            src="../img/partners/partners-1.png"
            alt="Partner Logo"
          />
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo"
            src="../img/partners/partners-2.png"
            alt="Partner Logo"
          />
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo"
            src="../img/partners/partners-3.png"
            alt="Partner Logo"
          />
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo"
            src="../img/partners/partners-4.png"
            alt="Partner Logo"
          />
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo"
            src="../img/partners/partners-5.png"
            alt="Partner Logo"
          />
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img
            class="clients__logo"
            src="../img/partners/partners-6.png"
            alt="Partner Logo"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
