<section class="desicions">
  <div class="container grid">
    <div class="desicions__left">
      <img src="img/desicions.jpg" alt="Image" class="desicions__img" />
    </div>
    <div class="desicions__right">
      <h2 class="title desicions__title">Constructive decisions</h2>
      <ul class="desicions__list list-reset">
        <li class="desicions__item">
          Vitae ultrices ornare eu&nbsp;sed in&nbsp;est quisque duis&nbsp;id.
        </li>
        <li class="desicions__item">
          A&nbsp;fermentum in&nbsp;morbi pretium aliquam adipiscing donec
          tempus.
        </li>
        <li class="desicions__item">Mauris odio pellentesque commodo, diam.</li>
        <li class="desicions__item">
          Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
        </li>
        <li class="desicions__item">
          At&nbsp;pharetra libero blandit risus, fringilla sed commodo diam.
        </li>
        <li class="desicions__item">
          Integer ultricies viverra ut&nbsp;enim viverra&nbsp;ut.
        </li>
      </ul>
    </div>
  </div>
</section>
