<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
    <ul class="portfolio-tabs-nav list-reset">
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#tab-1"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-1"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-2"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-3"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-4"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All projects</span>
        </button>
      </li>
    </ul>
  </div>
</section>
